<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
        <style>
   table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
  </style>
      <table >
         <thead>
            <tr>
               <th>Name</th>
               <th>Phone</th>
                <th>Phone</th>
            </tr>
         </thead>

         <tbody>
            {% for cl in client %}
               <tr>
                   <td>{{ cl.number }}</td>
               <td>{{ cl.brand}}</td>
               <td>{{ cl.color}}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>