
{% block table %}
<form action="/bd/new" method="POST">
{% if n==1 %}
    <h2 align="center">Новый клиент:</h2>
<table align="center" width="30%">
    <tr>
        <td align="left"><h4> ФИО: </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="name"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Номер телефона: </h4></td>
        <td align="left"><textarea rows="1" cols="20" name="phone_number"></textarea></td>
    </tr>
    <tr align="right"><td colspan="2" align="center"><input align="center" type="submit" name="button" value="Добавить клиента"></td></tr>
</table>
{% else %}
{% if n==2 %}
     <h2 align="center">Новый авто:</h2>
<table align="center" width="30%">
    <tr>
        <td align="left"><h4> Марка </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="brand"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Номер </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="number"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Цвет </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="color"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Дата выпуска </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="release_date"></textarea></td>
    </tr>
    <tr>

        <td align="left"><h4> Владелец </h4></td>
        <td align="right">
        {% if key != 'null' %}
            <select name="key" required>
            {% for it in key %}
                <option value="{{it.client_id}}">{{ it.name }}</option>
            {% endfor %}
            </select>
            {% endif %}
        </td>


    </tr>
    <tr align="center"><td colspan="2" align="center"><input align="center" type="submit" name="button" value="Добавить авто"></td></tr>
</table>
{% else %}
{% if n==3 %}
       <h2 align="center">Новый заказ:</h2>
<table align="center" width="30%">
    <tr>
        <td align="left"><h4> Описание </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="description"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Дата регистрации </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="reg_date"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Дата завершения </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="complete_date"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Авто </h4></td>
        <td align="right">
        {% if key != 'null' %}
            <select name="key" required>
            {% for it in key %}
                <option value="{{ it.auto_id }}">{{ it.brand +" "+ it.number }}</option>
            {% endfor %}
            </select>
            {% endif %}
        </td>
{#        <td align="right"><textarea rows="1" cols="20" name="auto_id"></textarea></td>#}
    </tr>
    <tr><td colspan="2" align="center"><input align="center" type="submit" name="button" value="Добавить заказ"></td></tr>
</table>
{% else %}
{% if n==4 %}
    <h2 align="center">Новый сотрудник:</h2>
<table align="center" width="30%">
    <tr>
        <td align="left"><h4> ФИО: </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="name"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Дата рождения: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="birthdate"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> З/П: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="salary"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Должность:</h4></td>
        <td align="right"><textarea rows="1" cols="20" name="position"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Режим работы: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="operation_mode"></textarea></td>
    </tr>
    <tr><td colspan="2" align="center"><input align="center" type="submit" name="button" value="Добавить сотрудника"></td></tr>
</table>
    {% else %}
{% if n==5 %}
    <h2 align="center">Новая запчасть:</h2>
<table align="center" width="30%">
    <tr>
        <td align="left"><h4> Название </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="name"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Марка </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="label"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Стоимость </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="cost"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Неисправность </h4></td>
{#        <td align="right"><textarea rows="1" cols="20" name="defect_id"></textarea></td>#}
        <td align="right">
        {% if key != 'null' %}
            <select name="key" required>
            {% for it in key %}
                <option value="{{ it.defect_id }}">{{ it.name }}</option>
            {% endfor %}
            </select>
            {% endif %}
        </td>
    </tr>

    <tr><td colspan="2" align="center"><input align="center" type="submit" name="button" value="Добавить запчасть"></td></tr>
</table>
{% else %}
{% if n==6 %}
    <table align="center" width="30%">
    <tr>
        <td align="left"><h4> Название </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="name"></textarea></td>
    </tr>
    <tr><td colspan="2" align="center"><input align="center" type="submit" name="button" value="Добавить неисправность"></td></tr>
    </table>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
</form>


{% endblock %}