{% extends "base.html" %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
    <style>
    body{
        background-image: url(static/back.jpg);
        background-color: #ffff17; /* Цвет фона веб-страницы */
   }

     .tt {
        text-align: center;
        font-size: 30pt;
        font-family: "Comic Sans MS";
        {#margin: auto;#}

         {#margin-top: 100px;#}
         color: #fff7f4;
         width: 1000px;
         min-width: 400px;
         height: 130px;
         margin: 170px auto;
         background: #370aff;
         border-radius: 15px;
         padding: 5px;
         box-shadow: 1px -1px 1px 0px #F3BE63;
 }
    </style>
    <div class="tt">Автосервис "Подпольный" - даже ваша тёща останется довольной! &#128521;</div>
{% endblock %}