{% extends 'bd.html' %}

{% block table %}
<table align="center" width="30%">
<h2 align="center">Изменение данных о{{ item_1 }}</h2>
<form action="/bd/update" method="POST">
 <tr>
        <td align="left"><h4> Выберите {{ item }}: </h4></td>
     <td align="right"><select name="items" required>
         {% if n==1 %}
{#                    <option disabled selected value="null">---</option>#}
                    {%for it in table%}
                    <option value={{it.client_id}}>{{it.name+' ('+it.phone_number+')'}}</option>
                    {% endfor %}
             </select>
        </td>
       <tr>
        <td align="left"><h4> ФИО: </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="name"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Номер телефона: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="phone_number"></textarea></td>
    </tr>
{% else %}
{% if n==2 %}
    {%for it in table%}
                    <option value={{it.auto_id}}>{{it.brand+' '+it.number}}</option>
                    {% endfor %}
    </select>
    </td>
    <tr>
        <td align="left"><h4> Марка </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="brand"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Номер </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="number"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Цвет </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="color"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Дата выпуска </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="release_date"></textarea></td>
    </tr>
 {% else %}
 {% if n==3 %}
     {%for it in table%}
                   <option value={{it.num_or}}>{{it.num_or|string+' ('+it.description+')'}}</option>
                    {% endfor %}
     </select>
     </td>
     <tr>
        <td align="left"><h4> Описание </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="description"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Дата регистрации </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="reg_date"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Дата завершения </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="complete_date"></textarea></td>
    </tr>
 {% else %}
 {% if n==4 %}
     {%for it in table%}
                    <option value={{it.worker_id}}>{{it.name+' ('+it.position+')'}}</option>
                    {% endfor %}
     </select>
     </td>
     <tr>
        <td align="left"><h4> ФИО: </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="name"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Дата рождения: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="birthdate"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> З/П: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="salary"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Должность:</h4></td>
        <td align="right"><textarea rows="1" cols="20" name="position"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Режим работы: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="operation_mode"></textarea></td>
    </tr>
 {% else %}
 {% if n==5 %}
     {%for it in table%}
                    <option value={{it.spare_id}}>{{it.name+' '+it.label+' '+it.cost|string}}</option>
                    {% endfor %}
     </select>
     </td>
     <tr>
        <td align="left"><h4> Название: </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="name"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Марка: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="label"></textarea></td>
    </tr>
    <tr>
        <td align="left"><h4> Стоимость: </h4></td>
        <td align="right"><textarea rows="1" cols="20" name="cost"></textarea></td>
    </tr>
 {% else %}
 {% if n==6 %}
     {%for it in table%}
                    <option value={{it.defect_id}}>{{it.name}}</option>
                    {% endfor %}
     </select>
     </td>
     <tr>
        <td align="left"><h4> Название неиспавности: </h4></td>
        <td align="right"><textarea rows="1" cols="50" name="name"></textarea></td>
    </tr>
 {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
</tr>
     <tr><td colspan="2" align="center"><input align="center" type="submit" name="button" value="Изменить {{ item }}"></td></tr>
    </form>
    </table>
{% endblock %}
